# Variables & Auto-complete
    1. How to assign a value to a variable
    2. How to delete a variable
    3. How to use Jupyter notebook's Auto-Complete

### Assigning Values to Variables

In [3]:
counter = 100
name = 'pooya'
height = 185.0


print("counter: ", counter)
print("name: ", name)
print("height: ", height)

counter:  100
name:  pooya
height:  185.0

### Multiple Assignment

In [4]:
a = b = c = 1
print(a, b, c)

1 1 1

In [5]:
a, b, c = 1, 2, "pooya"
print(a, b, c)

1 2 pooya

#### Value Error

In [6]:
a, b, c = 1, 2, "pooya", "mohammadi"

ValueError: too many values to unpack (expected 3)

#### Q: How to replace the values of two variables like below?

In [7]:
a = 10
b = 20
print("a: ", a, ", b: ", b)

a:  10 , b:  20

In [8]:
# A
a, b = b, a
print("a: ", a, ", b: ", b)

a:  20 , b:  10

### Delete a variable

In [11]:
a = 10
print('a: ', a)

a:  10

In [12]:
del a
print('a: ', a)

NameError: name 'a' is not defined

### Auto-Complete
Type in the first two or three characters of a variable or a function and hit `tab`. Then Jupyter notebook's auto-complete
1. pops up a drop down menu with several suggestions
2. automatically completes the input if there is only one possible completion available
3. or just does nothing if there are no completions due to misspelling, import issues etc.

In [17]:
counter = 100

In [ ]:
# drop down list:
co

In [ ]:
# atomatic completion with one hit
coun

In [16]:
# misspelling
coan

NameError: name 'coaner' is not defined

In [21]:
# How can misspelling become a pain in programming?
counter = 200
print(counter - 10) # your expectation is 190 but the output is 90!

190

*_:)_*