### Tuples

In [1]:
tuple_ = ( (4, 5), 'abcd', 786 , 2.23, 'Ali', 70.2  )
tiny_tuple = (123, 'Ali')

print(tuple_)              # Prints complete tuple
print(tuple_[0])           # Prints first element of the tuple
print(tuple_[1:3])         # Prints elements starting from 2nd till 3rd 
print(tuple_[2:])          # Prints elements starting from 3rd element
print(tiny_tuple * 2)      # Prints tuple two times
print(tuple_ + tiny_tuple) # Prints concatenated tupless
print(len(tuple_))         # Prints tuples length

((4, 5), 'abcd', 786, 2.23, 'Ali', 70.2)
(4, 5)
('abcd', 786)
(786, 2.23, 'Ali', 70.2)
(123, 'Ali', 123, 'Ali')
((4, 5), 'abcd', 786, 2.23, 'Ali', 70.2, 123, 'Ali')
6

In [2]:
tuple_[0][0]

4

In [4]:
not_a_tuple = (10)
type(not_a_tuple)

int

In [5]:
a_tuple= (10,) # recommended
type(a_tuple)

tuple

In [7]:
a_tuple= 10,
type(a_tuple)

tuple

tuples are immutable

In [9]:
a_tuple[0] = 15

TypeError: 'tuple' object does not support item assignment

In [10]:
del a_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
element_index = a_tuple.index(10)
print('Index of element 10 is {}'.format(element_index))

Index of element 10 is 0

### Sets

In [20]:
{'Ali', 45, 5, 5, 5, 5, 15, 15, "Ali", "Ali"}

{15, 45, 5, 'Ali'}

In [13]:
set_ = {'Ali', 45, 5, 5, 5, 5, 15}
tiny_set = {'Ahmad', 45}

print(set_)                    # Prints complete set
print('Ali' in set_)           # Prints first element of the set
print(set_ | tiny_set)         # Every item in both
print(set_ ^ tiny_set)         # Every item in either but not in both
print(set_ > tiny_set)         # Prints True if first set contains all items in second one
print(set_ < tiny_set)         # Prints True if second set contains all items in first one
print(set_ & tiny_set)         # Every item in both
print(set_ - tiny_set)         # Every item in the first but not the latter.
print(len(set_))               # Prints sets length

{5, 45, 'Ali', 15}
True
{5, 'Ali', 45, 'Ahmad', 15}
{5, 15, 'Ali', 'Ahmad'}
False
False
{45}
{'Ali', 5, 15}
4

In [15]:
set_[0]

TypeError: 'set' object is not subscriptable

In [16]:
set_.add('pooya')
print(set_)

{5, 'Ali', 'pooya', 45, 15}

### Dictionaries

In [22]:
capitals = {'Iran': 'Tehran',
            'France': 'Paris',
            'Italy': 'Rome'}

In [23]:
capitals['Italy']

'Rome'

In [24]:
capitals['Spain'] = 'Madrid'

In [25]:
capitals

{'Iran': 'Tehran', 'France': 'Paris', 'Italy': 'Rome', 'Spain': 'Madrid'}

In [26]:
capitals['Germany']

KeyError: 'Germany'

In [27]:
'Germany' in capitals

False

In [28]:
more_capitals = {'Germany': 'Berlin','United Kingdom': 'London'}
capitals.update(more_capitals)
capitals

{'Iran': 'Tehran',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [31]:
# how access keys
capitals.keys()

dict_keys(['Iran', 'France', 'Italy', 'Spain', 'Germany', 'United Kingdom'])

In [32]:
'Rome' in capitals.keys()

False

In [33]:
# how to access values
capitals.values()

dict_values(['Tehran', 'Paris', 'Rome', 'Madrid', 'Berlin', 'London'])

In [34]:
# how to access both
capitals.items()

dict_items([('Iran', 'Tehran'), ('France', 'Paris'), ('Italy', 'Rome'), ('Spain', 'Madrid'), ('Germany', 'Berlin'), ('United Kingdom', 'London')])

In [35]:
del capitals['Iran']
capitals

{'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [37]:
capitals[('pooya')] = 'pooya'

In [38]:
# empty dict
empty_dict = dict()
empty_dict = {}
empty_set = set()

In [39]:
type(empty_dict), type(empty_dict) , type(empty_set)

(dict, dict, set)

### Data Type Conversion

In [ ]:
str_to_int = int('20')
print('str_to_int', str_to_int, type(str_to_int))

float_to_int = int(10.36)
print('float_to_int', float_to_int, type(float_to_int))

int_to_float = float(10)
print('int_to_float', int_to_float, type(int_to_float))

int_to_str = str(10)
print('int_to_str', int_to_str, type(int_to_str))

set_to_tuple = tuple({10,20,20,30})
print('set_to_tuple', set_to_tuple, type(set_to_tuple))

tuple_to_set = set((10,20,10))
print('tuple_to_set ',tuple_to_set, type(tuple_to_set))

list_to_tuple = set((10,20,10))
print('list_to_tuple ',list_to_tuple, type(list_to_tuple))

In [40]:
list((1,2,3))

[1, 2, 3]

*:)*